<?xml version="1.0" encoding="UTF-8"?>
<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 http://maven.apache.org/xsd/settings-1.0.0.xsd">
       <localRepository>D:/fyz-workspace/repository</localRepository>
    <mirrors>
        <mirror>
      <id>central</id>
      <name>Maven Repository Switchboard</name>
      <url>
          https://repo.maven.apache.org/maven2/
      </url>
      <mirrorOf>*</mirrorOf>        
    </mirror>
    </mirrors>
    <profiles>
  
	<profile>
      <id>env-dev</id>

      <activation>
        <property>
          <name>target-env</name>
          <value>dev</value>
        </property>
      </activation>

      <properties>
        <tomcatPath>E:/tomcat</tomcatPath>
      </properties>
    </profile>
		<profile>  
			<id>jdk-1.8</id>  
			<activation>  
				<activeByDefault>true</activeByDefault>  
				<jdk>1.8</jdk>  
			</activation>  
			<properties>  
				<maven.compiler.source>1.8</maven.compiler.source>  
				<maven.compiler.target>1.8</maven.compiler.target>  
				<maven.compiler.compilerVersion>1.8</maven.compiler.compilerVersion>  
			</properties>  
		</profile>
    </profiles>
    <activeProfiles>
        <activeProfile>tgcw</activeProfile>
    </activeProfiles>
    <servers>
        <server>
            <id>release</id>
            <username>dev</username>
            <password>{VSToySb8ZSYHeQPBEWfSGnWuS3eIwqHvCoyb7MwED9A=}</password>
        </server>
		<server>
            <id>snapshot</id>
            <username>dev</username>
            <password>{VSToySb8ZSYHeQPBEWfSGnWuS3eIwqHvCoyb7MwED9A=}</password>
        </server>
	</servers>
</settings>
